# Ignore everything
*

# Except these files...
!/\.gitignore
!/\.tmux.conf
!/\.vimrc
!/\.zshrc
!/README.md

# Now, ignore all subdirectories
*/

# And these subdirectories
!bin/
!bin/*
!.vim/
!.vim/pack/plugins/start/*
