# Ignore everything in the root (which by default ignores subdirectories also)
/*

# But include the following directories (and sub directories, as needed)
!/bin/
# /bin/*
# !/bin/sub_dir/

# And include the following specific files
!/.gitignore
!/.tmux.conf
!/.vimrc
!/.zshrc
!/README.md
