[submodule "oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "vim-tmux-navigator"]
	path = .vim/pack/plugins/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim-elixir"]
	path = .vim/pack/plugins/start/vim-elixir
	url = git@github.com:elixir-editors/vim-elixir.git
