# Ignore everything (except allow descending into directories)
*
!*/

# Include the following files (at root/home)
!/\.gitignore
!/\.tmux.conf
!/\.vimrc
!/\.zshrc
!/README.md

# Recursively allow everything under "/bin"
!/bin/**
!/.vim/pack/plugins/start/**
